{% extends 'ud/index.html' %} {% block content %}
<header id="header" class="header1">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-10">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img
              class="logo"
              src="https://www.nitjsr.ac.in/static/media/logo_new.c32b27e1.png"
              alt="image"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home'%}">About Us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home'%}">Notices</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'notice' %}">Upload Notices</a>
              </li>
              {%endif%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'resume'%}">Resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'contact'%}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pyqs'%}">PYQ's</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-lg-2 text-right p-0">
        <ul class="login">
          {% if request.user.is_authenticated %}
          <li class="d-inline pl-3 pl-md-0">
            <a href="{% url 'logout'%}">Logout</a>
          </li>
          {%else%}
          <li class="d-inline pr-3 pr-md-2">
            <a href="{% url 'login'%}">Login</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="breadcrumb-main">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-auto mr-auto">
        <h2 class="iq-fw-8 text-white mb-0">Previous Year Questions</h2>
      </div>
      <div class="col-auto text-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{%url 'home'%}" class="iq-fw-6"
                ><i class="ion-android-home"></i>Home</a
              >
            </li>
            <li class="breadcrumb-item active iq-fw-6" aria-current="page">
              PYQs
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!--=================================
      Banner -->
<!--=================================
      MAIN CONTENT -->
{% if request.user.is_authenticated %}
<div class="main-content">
  <section class="contact-info">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <div class="iq-contact">
            <h3 class="mb-5 font-weight-bold">Upload Questions</h3>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="contact-form">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="section-field mt-3">
                      <input
                        class="require contact-first-name"
                        id="contact_name"
                        type="text"
                        placeholder="Company Name"
                        name="company"
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="section-field mt-3">
                      <input
                        class="require contact-email"
                        id="contact_email"
                        type="note"
                        placeholder="Note if any*"
                        name="note"
                      />
                    </div>
                  </div>

                  <div class="col-lg-12 col-sm-12">
                    <div class="section-field mt-3">
                      <div class="custom-file was-validated">
                        <input
                          type="file"
                          class="custom-file-input"
                          id="validatedCustomFile"
                          name="question"
                          required
                        />
                        <label
                          class="custom-file-label"
                          for="validatedCustomFile"
                          >Upload Question...</label
                        >
                        <div class="invalid-feedback" id="res_check">
                          Please Upload Questions..
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  id="submit"
                  name="submit"
                  type="submit"
                  value="Send"
                  class="button pull-right mt-5 mb-5 mb-lg-0 contact-us-button submit_btn"
                >
                  Upload
                </button>
                <span class="ml-10" id="result"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{%endif%}
<div class="main-content">
  <section class="our-customer" id="Notices">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box">
            <h2 class="title">Previous Year Questions</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {% for i in document %}
        <div class="col-lg-6 position-relative main-customer">
          <div class="customer-box">
            <div class="customer-detail mb-4">
              <div class="float-left">
                <h4 class="font-weight-bold">
                  <a href="#">{{i.company}}</a>
                </h4>
                <h5 class="text-gray font-weight-bold">Date: {{i.created}}</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <p class="iq-fw-600">Note: {{i.note}}</p>
            <div class="notice_icon">
              <a href="{{i.question.url}}" id="icon_"
                ><i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

<!--=================================
      MAIN CONTENT -->
<!--=================================
      Footer -->
{%endblock content%}
